/* line 1, ../scss/_Card.scss */
.cardControlPanel button, #moveCard {
  min-width: 36px;
  min-height: 36px;
  margin: 4px;
}

/* line 7, ../scss/_Card.scss */
.cardBase {
  margin: 1px;
  padding: 1px;
  border: 1px solid black;
  border-radius: 7px;
  background-color: #F0F0F0;
  min-width: 25%;
}

/* line 16, ../scss/_Card.scss */
.cardControlPanel {
  border-top: 1px dotted black;
  min-height: 30px;
}

/* line 21, ../scss/_Card.scss */
.graph {
  min-height: 250px;
}

/* line 25, ../scss/_Card.scss */
.title {
  padding-top: 3px;
  text-align: center;
  position: absolute;
  width: 100%;
}

/* line 32, ../scss/_Card.scss */
#moveCard {
  float: right;
}

/* line 1, ../scss/_AddCard.scss */
.addCardBase {
  margin: 1px;
  border-radius: 7px;
  background-color: #F0F0F0;
  width: 128px;
  height: 128px;
}

/* line 80, icons/*.png */
.icons-sprite, .icons-arrows, .icons-delete, .icons-documents, .icons-plus, .icons-refresh {
  background-image: url('../images/icons-sb5f1a26d50.png');
  background-repeat: no-repeat;
}

/* line 84, ../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-arrows {
  background-position: 0 0;
}

/* line 84, ../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-delete {
  background-position: 0 -32px;
}

/* line 84, ../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-documents {
  background-position: 0 -64px;
}

/* line 84, ../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-plus {
  background-position: 0 -96px;
}

/* line 84, ../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-refresh {
  background-position: 0 -224px;
}
