button {
	min-width: 36px;
	min-height: 36px;
	margin: 4px;
}

.cardBase {
	margin: 1px;
	padding: 1px;
	border: 1px solid black;
	border-radius: 7px;
	background-color: #F0F0F0;
	min-width: 25%;
}

.cardControlPanel {
	border-top: 1px dotted black;
	min-height: 30px;
}

.graph {
	min-height: 250px;
}

.title {
	padding-top: 3px;
	text-align: center;
	position: absolute;
	width: 100%;
}

#moveCard {
	float: right;
}
