$cardBackground: #F0F0F0;

.cardControlPanel button, .moveCard {
	min-width: 36px;
	min-height: 36px;
	margin: 4px;
}

.moveCard, .deleteCard {
	float: right;
}

.cardBase {
	margin: 1px;
	padding: 1px;
	border: 1px solid black;
	border-radius: 7px;
	background-color: $cardBackground;
	min-width: 25%;
}

.cardControlPanel {
	min-height: 30px;
}

.cardInputBase {
	margin: 3px;
	padding: 1px;
	border: 1px solid black;
	border-radius: 7px;
	background-color: $cardBackground;
	min-width: 25%;
	min-height: 250px;
}

.cardInputs input {
	width: 100%;
}

.cardInputs {
	margin: auto;
	width: 65%;
	padding: 10px;
	margin-top: 10%;
}

.graph {
	margin: 3px;
	padding: 1px;
	border: 1px solid black;
	border-radius: 7px;
	background-color: $cardBackground;
	min-width: 25%;
	min-height: 250px;
}

.title {
	padding-top: 6px;
	text-align: center;
	position: absolute;
	width: 100%;
}

input[type=text] {
	padding: 10px 10px;
	border: none;
	border-bottom: 2px solid black;
	background-color: $cardBackground;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	outline: none;
}

input[type=text]:focus {
	border: 3px solid #555;
}
