.copyright {
	text-align: center;
	margin: auto;
}

.footer {
	position: absolute;
	right: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: $mainLight1;
	color: white;
	min-height: 50px;
	margin: 0;
}