/* Variables */
$main: #3B1FA3;
$mainDark1: #260F7D;
$mainDark2: #19075D;
$mainLight1: #5B46A9;
$mainLight2: #8565FF;

/* Imports */
@import "_AddCard";
@import "_Animated";
@import "_Card";
@import "_Footer";
@import "_Navbar";
@import "_Popup";
@import "_sprites";

/* http://paletton.com/#uid=14c0u0ktltDdtDSlmuNvSmLH0gV */

* {
	font-family: 'Montserrat', sans-serif;
	box-sizing: border-box;
}

*:before, *:after {
	box-sizing: border-box;
}

body, html {
	margin: 0;
	height: 100%;
	position: relative;
}


button {
	border-radius: 10px;
}

.content {
	margin-bottom: 75px;
}

#root {
	min-height: 100vh;
	overflow: hidden;
	display: block;
	position: relative;
}

