/* Variables */
/* Imports */
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,400,700i");
/* line 1, ../../scss/_AddCard.scss */
.addCardBase {
  display: inherit;
  margin: 0 auto;
  border-radius: 7px;
  background-color: #F0F0F0;
  width: 128px;
  height: 128px;
}

/* line 1, ../../scss/_Animated.scss */
.animated {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/* TODO https://www.granneman.com/webdev/coding/css/fonts-and-formatting/serving-google-fonts-your-own-server-correctly/ */
/* line 5, ../../scss/_Card.scss */
.addInputButton, .submitCardButton {
  width: 75%;
  padding: 10px;
  margin-top: 15px;
}

/* line 11, ../../scss/_Card.scss */
.cardControlPanel button, .moveCard, .deleteCard {
  min-width: 36px;
  min-height: 36px;
  margin: 4px;
}

/* line 17, ../../scss/_Card.scss */
.moveCard, .deleteCard {
  float: right;
}

/* line 21, ../../scss/_Card.scss */
.cardBase {
  margin: 6px;
  padding: 1px;
  border: 1px solid black;
  border-radius: 7px;
  background-color: #F0F0F0;
  min-width: 25%;
  position: relative;
}

/* line 31, ../../scss/_Card.scss */
.cardControlPanel {
  min-height: 30px;
}

/* line 35, ../../scss/_Card.scss */
.cardInputBase {
  margin: 3px;
  padding: 1px;
  border: 1px solid black;
  border-radius: 7px;
  background-color: #F0F0F0;
  min-width: 25%;
  min-height: 250px;
}

/* line 45, ../../scss/_Card.scss */
.cardInputBase img {
  position: relative;
  top: 93px;
  left: -webkit-calc(50% - 32px);
}

/* line 51, ../../scss/_Card.scss */
.cardInputList {
  width: 75%;
  float: left;
}

/* line 56, ../../scss/_Card.scss */
.cardInputs input {
  width: 100%;
}

/* line 60, ../../scss/_Card.scss */
.cardInputs input[type=text] {
  /* TODO Use a variable here */
  width: -webkit-calc(100% - 50px);
  width: -moz-calc(100% - 50px);
  width: calc(100% - 50px);
  margin-top: 2px;
  margin-bottom: 2px;
  font-size: 14px;
}

/* line 70, ../../scss/_Card.scss */
.cardInputs {
  margin: auto;
  padding: 10px;
  margin-top: 10%;
  margin-bottom: 10%;
}

/* line 77, ../../scss/_Card.scss */
.cardInputSettings {
  min-width: 132px;
}

/* line 81, ../../scss/_Card.scss */
.cardInputSettings input[type=text] {
  width: 100%;
}

/* line 86, ../../scss/_Card.scss */
.graph {
  margin: 3px;
  padding: 1px;
  border: 1px solid black;
  border-radius: 7px;
  background-color: #F0F0F0;
  min-width: 25%;
  min-height: 250px;
}

/* line 96, ../../scss/_Card.scss */
.title {
  padding-top: 6px;
  text-align: center;
  position: absolute;
  width: 100%;
}

/* line 103, ../../scss/_Card.scss */
input[type=text] {
  border: none;
  border-bottom: 2px solid black;
  background-color: #F0F0F0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* line 114, ../../scss/_Card.scss */
input[type=text]:focus {
  border: 3px solid #555;
}

/* line 118, ../../scss/_Card.scss */
label {
  width: 100%;
}

@media screen and (min-width: 700px) {
  /* line 124, ../../scss/_Card.scss */
  .cardInputSettings {
    float: right;
    margin-left: 4px;
    width: -webkit-calc(25% - 4px);
    width: -moz-calc(25% - 4px);
    width: calc(25% - 4px);
  }

  /* line 132, ../../scss/_Card.scss */
  .cardInputs {
    width: 85%;
  }
}
@media screen and (max-width: 700px) {
  /* line 139, ../../scss/_Card.scss */
  .addInputButton, .submitCardButton {
    width: 100%;
  }

  /* line 143, ../../scss/_Card.scss */
  .cardInputSettings {
    width: 100%;
  }

  /* line 147, ../../scss/_Card.scss */
  .cardInputList {
    width: 100%;
  }

  /* line 151, ../../scss/_Card.scss */
  .cardInputs {
    width: 75%;
  }
}
@media screen and (min-width: 1600px) {
  /* line 157, ../../scss/_Card.scss */
  .cardBase {
    width: 800px;
  }
}
/* line 1, ../../scss/_Footer.scss */
.copyright {
  text-align: center;
  margin: auto;
}

/* line 6, ../../scss/_Footer.scss */
.footer {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #5B46A9;
  color: white;
  min-height: 50px;
  margin: 0;
}

/* line 1, ../../scss/_Navbar.scss */
.navbar {
  right: 0;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #260F7D;
  color: white;
  min-height: 50px;
  margin: 0;
}

/* line 11, ../../scss/_Popup.scss */
.error, .warning {
  min-height: 200px;
  top: 35px;
  left: 8px;
  right: 8px;
  border: 1px solid black;
  background-color: white;
  border-radius: 7px;
  border-width: 2px;
  position: absolute;
  z-index: 100;
}

/* line 24, ../../scss/_Popup.scss */
.error button, .warning button {
  float: right;
  padding: 4px;
  margin: 6px;
  position: absolute;
  right: 0px;
  bottom: 0px;
  min-width: 80px;
}

/* line 34, ../../scss/_Popup.scss */
.error {
  background-color: #FFD2D2;
  border-color: #D8000C;
}

/* line 39, ../../scss/_Popup.scss */
.error button {
  background-color: #E67878;
  border-color: #D95151;
}

/* line 44, ../../scss/_Popup.scss */
.warning {
  background-color: #FEEFB3;
  border-color: #9F6000;
}

/* line 49, ../../scss/_Popup.scss */
.warning button {
  background-color: #E5CE74;
  border-color: #CCB03E;
}

/* line 80, icons/*.png */
.icons-sprite, .icons-arrows, .icons-delete, .icons-documents, .icons-plus, .icons-refresh {
  background-image: url('../../images/icons-sb5f1a26d50.png');
  background-repeat: no-repeat;
}

/* line 84, ../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-arrows {
  background-position: 0 0;
}

/* line 84, ../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-delete {
  background-position: 0 -32px;
}

/* line 84, ../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-documents {
  background-position: 0 -64px;
}

/* line 84, ../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-plus {
  background-position: 0 -96px;
}

/* line 84, ../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-refresh {
  background-position: 0 -224px;
}

/* http://paletton.com/#uid=14c0u0ktltDdtDSlmuNvSmLH0gV */
/* line 19, ../../scss/index.scss */
* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

/* line 24, ../../scss/index.scss */
*:before, *:after {
  box-sizing: border-box;
}

/* line 28, ../../scss/index.scss */
body, html {
  margin: 0;
  height: 100%;
  position: relative;
}

/* line 35, ../../scss/index.scss */
button {
  border-radius: 10px;
}

/* line 39, ../../scss/index.scss */
.content {
  margin-bottom: 75px;
}

/* line 43, ../../scss/index.scss */
#root {
  min-height: 100vh;
  overflow: hidden;
  display: block;
  position: relative;
}

@media screen and (min-width: 800px) {
  /* line 51, ../../scss/index.scss */
  .content {
    width: 800px;
    margin: auto;
  }
}
@media screen and (min-width: 1600px) {
  /* line 58, ../../scss/index.scss */
  .content {
    width: 1600px;
    margin: auto;
  }
}
