@import url("https://fonts.googleapis.com/css?family=Montserrat:100,400,700i");
/* line 1, ../../scss/_AddCard.scss */
.addCardBase {
  margin: 1px;
  border-radius: 7px;
  background-color: #F0F0F0;
  width: 128px;
  height: 128px;
}

/* line 1, ../../scss/_Animated.scss */
.animated {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/* TODO https://www.granneman.com/webdev/coding/css/fonts-and-formatting/serving-google-fonts-your-own-server-correctly/ */
/* line 5, ../../scss/_Card.scss */
* {
  font-family: 'Montserrat', sans-serif;
}

/* line 9, ../../scss/_Card.scss */
.addInputButton, .submitCardButton {
  width: 75%;
  padding: 10px;
  margin-top: 15px;
}

/* line 15, ../../scss/_Card.scss */
.cardControlPanel button, .moveCard, .deleteCard {
  min-width: 36px;
  min-height: 36px;
  margin: 4px;
}

/* line 21, ../../scss/_Card.scss */
.moveCard, .deleteCard {
  float: right;
}

/* line 25, ../../scss/_Card.scss */
.cardBase {
  margin: 1px;
  padding: 1px;
  border: 1px solid black;
  border-radius: 7px;
  background-color: #F0F0F0;
  min-width: 25%;
  position: relative;
}

/* line 35, ../../scss/_Card.scss */
.cardControlPanel {
  min-height: 30px;
}

/* line 39, ../../scss/_Card.scss */
.cardInputBase {
  margin: 3px;
  padding: 1px;
  border: 1px solid black;
  border-radius: 7px;
  background-color: #F0F0F0;
  min-width: 25%;
  min-height: 250px;
}

/* line 49, ../../scss/_Card.scss */
.cardInputBase img {
  position: relative;
  top: 93px;
  left: -webkit-calc(50% - 32px);
}

/* line 55, ../../scss/_Card.scss */
.cardInputList {
  width: 75%;
  float: left;
}

/* line 60, ../../scss/_Card.scss */
.cardInputs input {
  width: 100%;
}

/* line 64, ../../scss/_Card.scss */
.cardInputs input[type=text] {
  /* TODO Use a variable here */
  width: -webkit-calc(100% - 50px);
  width: -moz-calc(100% - 50px);
  width: calc(100% - 50px);
  margin-top: 2px;
  margin-bottom: 2px;
  font-size: 14px;
}

/* line 74, ../../scss/_Card.scss */
.cardInputs {
  margin: auto;
  padding: 10px;
  margin-top: 10%;
  margin-bottom: 10%;
}

/* line 81, ../../scss/_Card.scss */
.cardInputSettings {
  min-width: 132px;
}

/* line 85, ../../scss/_Card.scss */
.cardInputSettings input[type=text] {
  width: 100%;
}

/* line 90, ../../scss/_Card.scss */
.graph {
  margin: 3px;
  padding: 1px;
  border: 1px solid black;
  border-radius: 7px;
  background-color: #F0F0F0;
  min-width: 25%;
  min-height: 250px;
}

/* line 100, ../../scss/_Card.scss */
.title {
  padding-top: 6px;
  text-align: center;
  position: absolute;
  width: 100%;
}

/* line 107, ../../scss/_Card.scss */
input[type=text] {
  border: none;
  border-bottom: 2px solid black;
  background-color: #F0F0F0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* line 118, ../../scss/_Card.scss */
input[type=text]:focus {
  border: 3px solid #555;
}

/* line 122, ../../scss/_Card.scss */
label {
  width: 100%;
}

@media screen and (min-width: 600px) {
  /* line 128, ../../scss/_Card.scss */
  .cardInputSettings {
    float: right;
    margin-left: 4px;
    width: -webkit-calc(25% - 4px);
    width: -moz-calc(25% - 4px);
    width: calc(25% - 4px);
  }

  /* line 136, ../../scss/_Card.scss */
  .cardInputs {
    width: 85%;
  }
}
@media screen and (max-width: 600px) {
  /* line 143, ../../scss/_Card.scss */
  .addInputButton, .submitCardButton {
    width: 100%;
  }

  /* line 147, ../../scss/_Card.scss */
  .cardInputSettings {
    width: 100%;
  }

  /* line 151, ../../scss/_Card.scss */
  .cardInputList {
    width: 100%;
  }

  /* line 155, ../../scss/_Card.scss */
  .cardInputs {
    width: 75%;
  }
}
/* line 1, ../../scss/_Popup.scss */
.error, .warning {
  min-height: 200px;
  top: 35px;
  left: 8px;
  right: 8px;
  border: 1px solid black;
  background-color: white;
  border-radius: 7px;
  position: absolute;
  z-index: 100;
}

/* line 13, ../../scss/_Popup.scss */
.error button, .warning button {
  float: right;
  padding: 4px;
  margin: 6px;
  position: absolute;
  right: 0px;
  bottom: 0px;
  min-width: 80px;
}

/* line 80, icons/*.png */
.icons-sprite, .icons-arrows, .icons-delete, .icons-documents, .icons-plus, .icons-refresh {
  background-image: url('../../images/icons-sb5f1a26d50.png');
  background-repeat: no-repeat;
}

/* line 84, ../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-arrows {
  background-position: 0 0;
}

/* line 84, ../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-delete {
  background-position: 0 -32px;
}

/* line 84, ../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-documents {
  background-position: 0 -64px;
}

/* line 84, ../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-plus {
  background-position: 0 -96px;
}

/* line 84, ../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-refresh {
  background-position: 0 -224px;
}

/* line 7, ../../scss/index.scss */
button {
  border-radius: 10px;
}
