/* line 3, ../scss/_Card.scss */
.addInputButton {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  margin-top: 15px;
}

/* line 10, ../scss/_Card.scss */
.cardControlPanel button, .moveCard {
  min-width: 36px;
  min-height: 36px;
  margin: 4px;
}

/* line 16, ../scss/_Card.scss */
.moveCard, .deleteCard {
  float: right;
}

/* line 20, ../scss/_Card.scss */
.cardBase {
  margin: 1px;
  padding: 1px;
  border: 1px solid black;
  border-radius: 7px;
  background-color: #F0F0F0;
  min-width: 25%;
}

/* line 29, ../scss/_Card.scss */
.cardControlPanel {
  min-height: 30px;
}

/* line 33, ../scss/_Card.scss */
.cardInputBase {
  margin: 3px;
  padding: 1px;
  border: 1px solid black;
  border-radius: 7px;
  background-color: #F0F0F0;
  min-width: 25%;
  min-height: 250px;
}

/* line 43, ../scss/_Card.scss */
.cardInputs input {
  width: 100%;
}

/* line 47, ../scss/_Card.scss */
.cardInputs {
  margin: auto;
  width: 75%;
  padding: 10px;
  margin-top: 10%;
  margin-bottom: 10%;
}

/* line 55, ../scss/_Card.scss */
.graph {
  margin: 3px;
  padding: 1px;
  border: 1px solid black;
  border-radius: 7px;
  background-color: #F0F0F0;
  min-width: 25%;
  min-height: 250px;
}

/* line 65, ../scss/_Card.scss */
.title {
  padding-top: 6px;
  text-align: center;
  position: absolute;
  width: 100%;
}

/* line 72, ../scss/_Card.scss */
input[type=text] {
  border: none;
  border-bottom: 2px solid black;
  background-color: #F0F0F0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* line 83, ../scss/_Card.scss */
input[type=text]:focus {
  border: 3px solid #555;
}

/* line 1, ../scss/_AddCard.scss */
.addCardBase {
  margin: 1px;
  border-radius: 7px;
  background-color: #F0F0F0;
  width: 128px;
  height: 128px;
}

/* line 80, icons/*.png */
.icons-sprite, .icons-arrows, .icons-delete, .icons-documents, .icons-plus, .icons-refresh {
  background-image: url('../images/icons-sb5f1a26d50.png');
  background-repeat: no-repeat;
}

/* line 84, ../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-arrows {
  background-position: 0 0;
}

/* line 84, ../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-delete {
  background-position: 0 -32px;
}

/* line 84, ../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-documents {
  background-position: 0 -64px;
}

/* line 84, ../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-plus {
  background-position: 0 -96px;
}

/* line 84, ../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-refresh {
  background-position: 0 -224px;
}
